$themes-blue: (

        background_img1: url('./assets/updataImg/home-bg.png') no-repeat center center / 100% 100% !important,
        font_color1: #409eff,
        // border-color1: 1px solid rgba(84, 136, 189, 0.9)
        boder1:1px solid rgba(84, 136, 189, 0.3),
        background_custom1: url('../../assets/images/newIndex/wktable.png') no-repeat center center / 100% 100% !important,
        boder_bottom1:1px solid rgba(15, 44, 79, 0.5),
        border-bottom_word1:1px solid #172a48,
        font_color_subject1:#99c9fa,
        font_color_gray1:#cdcfd1,
        font_color_link1:#00a0ff,
        font_color_white1:#fff,
        font_color_footer1:rgba(153, 201, 250, 0.4),
        background_partner1:RGB(19, 29, 52),
        font_color_news1:#e5e7e8,


);
