$themes-blue: (

    /* 背景图片 */
    background_img1: url('~@/assets/updataImg/home-bg.png') no-repeat center center / 100% 100% !important,
    background_custom1: url('~@/assets/images/newIndex/wktable.png') no-repeat center center / 100% 100% !important,


    /* 1像素边框 */
    boder1:1px solid rgba(84, 136, 189, 0.3),
    border_2:1px solid rgba(43, 66, 91, 1),
    border_input_1:1px solid #134276 !important,
    border_hr_1:0.01rem solid #1c5da7,
    border_depart_1:1px solid rgba(15, 44, 79, 0.5), //部门管理树菜单边框




    /* 1像素边框 -----表格边框区 */
    border_tab_1:2px solid rgba(12, 68, 135, 0.3) !important,  //外框2像素


    /* 底部1像素边框 */
    boder_bottom1:1px solid rgba(15, 44, 79, 0.5),
    border-bottom_word1:1px solid #172a48,

    /* 底部2像素边框 */
    border-bottom_2_enter:2px solid rgba(20, 57, 96, 0.33),




    /* 字体颜色 */
    // font_color1: #409eff,
    font_main_color:#99c9fa,
    font_color1:#99c9fa,
    font_color_subject1:#99c9fa,
    font_color_gray1:#cdcfd1,
    font_color_link1:#00a0ff,
    font_color_white1:#fff,
    font_color_footer1:rgba(153, 201, 250, 0.4),
    font_color_news1:#e5e7e8,
    font_color_3c93ec:#99c9fa,
    font_color_waring:red,


    /* 背景颜色 */
    background_btnbj1:rgba(20, 57, 96, 0.29),
    background_btnbj_2:rgba(34, 70, 112, 0.09),
    background_btnbj_3:rgba(34, 70, 112, 0.31),
    // background_btnbj_4:rgba(43, 66, 91, 0.5),
    background_btnbj_4:rgba(32,49,67,.9),
    background_input_1:rgba(0, 0, 0, 0.2) !important, //搜索区文本框背景色
    background_select_1:#030810 !important, //搜索区下拉框颜色设置
    background_depart_1:rgba(16, 35, 56, 0.5), //部门管理左侧树菜单背景颜色
    background_depart_highlight_hover:rgba(49, 86, 131, 0.2), //树菜单鼠标划上每行变色
    background_colortest: rgba(3, 16, 31, 0.95),
    background_partner1:rgba(32,49,67,0.8),
    background_eleheader:#113254,
    background_transpart:rgba(0,0,0,.25),//透明的
    background_title: #35536E,




    /* 弹窗 */
    layer-background_color_1:rgba(20, 57, 96, 0.8), //弹窗标题背景颜色
    layer-background_color_2:rgba(16, 35, 56, 0.31), //弹窗标题背景颜色
    layer-background_color_affirm:url('~@/assets/images/videoNewImg/bg/blue-bg-normal.png') no-repeat center center / 100% 100% !important,  //确认
    layer-background_color_affirm_hover:url('~@/assets/images/videoNewImg/bg/blue-bg-hover.png') no-repeat center center / 100% 100% !important,  //确认划上
    layer-background_color_cancel:url('~@/assets/images/videoNewImg/bg/yellow-bg-normal.png') no-repeat center center / 100% 100% !important, //取消
    layer-background_color_cancel_hover:url('~@/assets/images/videoNewImg/bg/yellow-bg-hover.png') no-repeat center center / 100% 100% !important, //取消划上
    layer-border-bottom_1:1px solid rgba(20, 57, 96, 0.8), //弹窗标题背景1像素边框--底部
    layer-border-left_1:1px solid rgba(20, 57, 96, 0.8), //弹窗标题背景1像素边框--左边
    layer-border-right_1:1px solid rgba(20, 57, 96, 0.8), //弹窗标题背景1像素边框--右边
    layer-border-top_1:1px solid rgba(20, 57, 96, 0.8), //弹窗标题背景1像素边框--头部
    layer_font_color_1:#cdcfd1, //弹窗标题文字颜色
    layer_font_color_2:#cdcfd1, //弹窗标题文字颜色


    /* 饿了么表格 */
    el-background_color_title:rgba(12, 68, 135, 0.4) !important,
    border_tab_2:1px solid rgba(12, 68, 135, 0.3) !important,  //单元格1像素
    el-background_color_2nth:rgba(24, 39, 59, 0.5) !important,
    el-background_color_hover:rgba(62, 88, 123, 0.5) !important, //鼠标划上背景颜色
    el-background_color_before_1:rgba(12, 68, 135, 0.3) !important, //表格边框前置颜色


    /* 饿了么---分页 */
    el-page_background_color_1:rgba(0, 0, 0, 0.25) !important, //分页背景颜色
    el-page_font_color_1:#409eff !important, //分页上下页颜色
    page_background_color_2:#112759 !important, //鼠标滑过分页展示的背景颜色

);
