.gs-column-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  zoom: 1;
}
.gs-column-container > *, .gs-column-left, .gs-column-main, .gs-column-right {
  display: inline-block;
  overflow: hidden
}