

// 字体主体颜色
@mixin font_color($color) {
    @include themify {
        color: themed($color)
    }
}

// 字体主体颜色
@mixin font_color_subject($color) {
    @include themify {
        color: themed($color)
    }
}

// 字体其他颜色--灰色
@mixin font_color_gray($color) {
    @include themify {
        color: themed($color)
    }
}

// 链接更多字体颜色
@mixin font_color_link($color) {
    @include themify {
        color: themed($color)
    }
}


// 字体其他颜色--白色
@mixin font_color_white($color) {
  @include themify {
      color: themed($color)
  }
}

// 公共部分底部文字颜色
@mixin font_color_footer($color) {
  @include themify {
      color: themed($color)
  }
}

// 头部消息文字颜色
@mixin font_color_news($color) {
  @include themify {
      color: themed($color)
  }
}
